
.item {

  --item-description-text-line-height: 1.3em;
  --text-rows: 4;

   border: none;
   box-shadow: 0px 1px 20px -5px #ccc;

   img {
     object-fit: cover;
     height: 250px; 
     border-top-right-radius: 4px;   
     border-top-left-radius: 4px;   
   }

   .card-title, .card-email {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: black;
   }

   .card-title { 
     font-weight: bold;
   }

  .card-text {
    overflow: hidden;
    position: relative; 
    line-height: var(--item-description-text-line-height);
    height: calc( var(--item-description-text-line-height) * var(--text-rows));  
  }

  .card-price {
    display:flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    font-weight: bold;    
  }

  button[disabled]{
    color: red;
  }

}