<div class="card my-2 item {{ displayMode }}" *ngIf="item">
  <img offset="150" defaultImage="assets/images/loading.svg?v=1" [lazyLoad]="item.image + '?v=1'" class="img-resposive"
    alt="item.name">
  <div class="card-body">

    <h6 class="card-email" *ngIf="displayMode === 'large'">
      <small class="text-muted">{{ item.email }} </small>
    </h6>

    <h5 class="card-title">{{ item.title }}</h5>
    <p class="card-text" *ngIf="displayMode === 'large'">{{ item.description }}</p>

    <div class="d-flex justify-content-between">
      <button class="btn btn-sm btn-block" [ngClass]="btnClasses" [innerHTML]="btnText" (click)="buttonClick.emit(item)"
        [disabled]="btnDisabled"></button>

      <div *ngIf="displayMode === 'large'" class="card-price">{{ item.price}} €</div>
    </div>
  </div>

</div>