<main class="container mt-4" id="home-page">

  <!-- ERROR -->
  <div *ngIf="this.errorMessage" class="alert alert-danger">
    {{ this.errorMessage }}
  </div>


  <div *ngIf="!this.errorMessage">

    <!-- SEARCH FORM -->
    <section class="row mb-4">
      <div class="col-lg-12">
        <app-search-form [searchBy]="itemsFilter?.searchBy?.key" [searchStr]="itemsFilter?.searchBy?.value">
        </app-search-form>
      </div>
    </section>

    <hr class="separator" />

    <!-- NO ITEMS FOUND -->
    <section *ngIf="!showLoading && (itemsFilter?.searchBy?.value.length > 2) && (!items || !items.length)"
      class="alert alert-danger mb-3" role="alert">
      NO ITEMS FOUND
    </section>


    <section class="row" *ngIf="(items && items.length > 0)">
      <div class="col-lg-12">
        <app-items-list [items]="items" [wishedItems]="wishList" (btnClick)="addToWishlist($event)"></app-items-list>
      </div>


      <!-- SHOW MORE BTN -->
      <div class="col-lg-12 mt-2" *ngIf="items && items.length">
        <button class="btn btn-lg btn-block btn-light" id="show-more-btn" *ngIf="showMoreButton"
          (click)="downloadMoreItems()" [disabled]="showLoading">Show more
          items</button>
      </div>

      <!-- WISHLIST BTN & WISHLIST MODAL -->
      <button class="btn btn-success" id="show-wishlist-btn" (click)="this.showWishlist = true"
        *ngIf="!this.showWishlist && !this.showLoading">
        <div class="badge" *ngIf="wishList && wishList.length">
          {{ wishList.length }}
        </div>
        <i class="fa fa-heart"></i>
        <div>Wishlist</div>
      </button>
    </section>

    <br />

    <!-- LOADING -->
    <app-loading *ngIf="showLoading"></app-loading>



  </div>

</main>

<app-wishlist-modal [show]="showWishlist" (closeModal)="this.showWishlist = false">
</app-wishlist-modal>