#home-page {
  button#show-wishlist-btn {
    position: fixed;
    bottom: 3%;
    border-radius: 50%;
    padding: 15px 10px;
    box-shadow: 0px 0px 7px 1px #999;
    font-weight: bold;
    right: 3%;
    opacity: .75;

    .badge {
      position: absolute;
      background: #13c1ac;
      top: -5px;
      left: 5px;
      font-size: 16px;
      font-weight: bold;
      border-radius: 50%;
      line-height: 13px;
      box-shadow: 0px 0px 0px 2px;
      opacity: 1;
      transition: display opacity ease-in;
    }

  }


/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {  
  button#show-wishlist-btn {      
          font-weight: 400;
          font-size: 11px;
          padding: 9px 6px;
  }
}
}