<nav class="navbar navbar-expand-lg navbar-light bg-light" id="main-nav">
  <a class="navbar-brand" routerLink="/home">
    <img src="/assets/images/wala-logo.svg" alt="Wala logo" /> Luis Gonzalez
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapsable-content"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar-collapsable-content">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.linkedin.com/in/luis-gonzalez-serra-a6116235/" target="_blank">My LinkedIn
          <span class="sr-only">(current)</span></a>
      </li>
    </ul>


  </div>
</nav>