.items-list {
  width: 100%;
  
  select#item-filter {
    &:active, &:focus { 
      outline:none;
    }
    border: none;
    border-radius: 4px;
    padding: 8px 10px;
    background: ghostwhite;
    color: var(--primary-color);
  }

  .item-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0,1fr));
    gap: 10px;
  }
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
  .item-container {    
    grid-template-columns: repeat(1, minmax(0,1fr)) !important;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  .item-container {    
    grid-template-columns: repeat(1, minmax(0,1fr)) !important;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .item-container {    
    grid-template-columns: repeat(2, minmax(0,1fr)) !important;
    gap: 10px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .item-container {    
    grid-template-columns: repeat(4, minmax(0,1fr)) !important;
    gap: 10px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .item-container {    
    grid-template-columns: repeat(5, minmax(0,1fr)) !important;
    gap: 10px;
  }  
}
