<div class="items-list" *ngIf="items && items.length">
  <!-- SORT BY -->
  <div class="row">
    <div class="col-lg-12">
      <span class="">
        Sort by:&nbsp;
      </span>
      <select [(ngModel)]="sortBy" id="item-filter" (change)="handleSortByChange($event)">
        <option value="" selected>Nothing</option>
        <option value="title">Title</option>
        <option value="description">Description</option>
        <option value="price">Price</option>
        <option value=email>Email</option>
      </select>
    </div>
  </div>

  <!-- ITEM LIST -->
  <div class="item-container">
    <app-item *ngFor="let item of items" [item]="item"
      [btnClasses]="isWished(item) ? 'btn-link text-danger' : btnClasses"
      [btnText]="isWished(item) ? '<i class=\'fa fa-heart\'></i>' : btnText" (buttonClick)="onBtnClick(item)"
      [displayMode]="displayMode">
    </app-item>
  </div>

</div>