<div class="modal fade " [ngClass]="{ 'show' : show }" tabindex="-1">

  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title">My Wishlist</h5>

        <button type="button" class="close" aria-label="Close" (click)="closeModal.emit(true)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body" *ngIf="show">

        <div *ngIf="!items || !items.length" class="alert alert-warning" role="alert">
          No items in wishlist, click in <strong><i class="fa fa-heart"></i> Add to wishlist </strong> to add items.
        </div>

        <!-- SEARCH INPUT -->
        <div class="row" *ngIf="items && items.length > 0">

          <div class="col-xs-12 col-sm-6 col-md-4">

            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search in wishlist" aria-label="Search awesome items"
                name="searchStr" aria-describedby="button-addon2" (keyup)="onSearchInputChange($event)" />
              {{ searchStr }}
            </div>
          </div>

        </div>


        <hr class="separator" *ngIf="itemsToShow && itemsToShow.length" />


        <!-- WHISED ITEMS -->
        <div class="row" *ngIf="itemsToShow && itemsToShow.length > 0">

          <div class="col-lg-12">

            <app-items-list [items]="itemsToShow" [displayMode]="'mini'" [btnClasses]="'btn-danger'"
              [btnText]="'Remove'" (btnClick)="onItemBtnClick($event)"></app-items-list>
          </div>
          <!-- <div class="col-xs-12 col-sm-6 col-md-3" *ngFor="let itemToShow of itemsToShow">

            <app-item [item]="itemToShow" displayMode="mini" [btnClasses]="'btn-danger'" [btnText]="'Remove'"
              (buttonClick)="onItemBtnClick(itemToShow)"></app-item>

          </div> -->
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal" (click)="closeModal.emit(true)">Close</button>
      </div>

    </div>
  </div>
</div>