.modal {

  z-index:-1;
  display: block;

  &.show { 
    z-index:999;
    background: rgba($color: white, $alpha: 0.85);
    transform: opacity .5s ease;
    
    .modal-content {
      top: 0px;
      transition: top .6s ease;
      border:none;
      box-shadow: 0px 0px 20px -5px #0f0f0f;
    }
  }


  .modal-dialog {
    min-width: 90% !important;    
  }

  .modal-content {
    top: -1000px;
    transition: top 5s ease;
  }

  .close:active, .close:focus { outline:none; }

  input[name="searchStr"] {
    background: #eee;
    border: none;
    font-weight: bold;
  }
}

@media (max-width: 576px ) {

  // .modal-dialog{
  //   overflow-y: initial !important
  // }
  // .modal-body{
  //   height: 250px;
  //   overflow-y: auto;
  // }
}