<div class="row d-flex justify-content-center align-items-center">
  <div class="spinner-grow text-primary" role="status">
  </div>&nbsp;
  <div class="spinner-grow text-secondary" role="status">
  </div>&nbsp;
  <div class="spinner-grow text-success" role="status">
  </div>&nbsp;
  <div class="spinner-grow text-danger" role="status">
  </div>&nbsp;
  <div class="spinner-grow text-warning" role="status">
  </div>&nbsp;
  <div class="spinner-grow text-info" role="status">
  </div>&nbsp;
  <div class="spinner-grow text-dark" role="status">
  </div>
</div>