<form class="form-inline my-2 my-lg-0 search-form" (submit)="search()">

  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search awesome items" aria-label="Search awesome items"
      name="searchStr" aria-describedby="button-addon2" [(ngModel)]="searchStr" #searchStrInput />

    <div class="input-group-append">

      <select name="searchBy" class="form-control" [ngModel]="searchBy" (change)="handleSearchByChange($event)">
        <option value="title">By title</option>
        <option value="description">By description</option>
        <option value="email">By email</option>
        <option value="price">By price</option>
      </select>

      <button [disabled]="!isSearchFormValid()" id="clear-search-btn" class="btn btn-link" type="button"
        (click)="reset()" [disabled]="!isSearchFormValid()">
        <i class="fa fa-times"></i>
      </button>

      <button class="btn btn-primary" type="submit" id="button-addon2" [disabled]="!isSearchFormValid()">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>

</form>