
.search-form {
    border: none;    
    --height: 50px;

    .input-group {
      width: 100% !important;

      select, #clear-search-btn {
       
        max-width: 100px;
        background: #eee;
        border-radius: 0 !important;
        border:none;         
        height: var(--height);
      }

      #clear-search-btn[disabled] {
        background:  #eee;
        opacity: 1;
      }

      button {
        &:focus, &:active {
          outline: none;
          box-shadow: none;
        }
        width: 50px;      
      }
      
    }
      
    input { 
      border: none; 
      background:#eee;
      font-weight: bold;
      height: var(--height);

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}