/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';

@font-face {
    font-family: Wallie;
    src: url(//d22j03ecumputt.cloudfront.net/fonts/Wallie-Skinny.woff2) format("woff2"), url(//d22j03ecumputt.cloudfront.net/fonts/Wallie-Skinny.woff) format("woff"),
        url(//d22j03ecumputt.cloudfront.net/fonts/Wallie-Skinny.ttf) format("truetype");
    font-weight: 300;
    font-display: swap;
  }
  @font-face {
    font-family: Wallie;
    src: url(//d22j03ecumputt.cloudfront.net/fonts/Wallie-Fit.woff2) format("woff2"), url(//d22j03ecumputt.cloudfront.net/fonts/Wallie-Fit.woff) format("woff"), url(//d22j03ecumputt.cloudfront.net/fonts/Wallie-Fit.ttf) format("truetype");
    font-display: swap;
  }
  @font-face {
    font-family: Wallie;
    src: url(//d22j03ecumputt.cloudfront.net/fonts/Wallie-Chunky.woff2) format("woff2"), url(//d22j03ecumputt.cloudfront.net/fonts/Wallie-Chunky.woff) format("woff"),
    url(//d22j03ecumputt.cloudfront.net/fonts/Wallie-Chunky.ttf) format("truetype");
    font-weight: 700;
    font-display: swap;
  }
  @font-face {
    font-family: OCRAStd;
    src: url(//d22j03ecumputt.cloudfront.net/fonts/OCRAStd.eot?#iefix) format("embedded-opentype"), url(//d22j03ecumputt.cloudfront.net/fonts/OCRAStd.otf) format("opentype"),
    url(//d22j03ecumputt.cloudfront.net/fonts/OCRAStd.woff) format("woff"), url(//d22j03ecumputt.cloudfront.net/fonts/OCRAStd.ttf) format("truetype"), url(//d22j03ecumputt.cloudfront.net/fonts/OCRAStd.svg#OCRAStd) format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

html * , body { 
  --primary-color: #2dc1ab;
  font-family: Wallie;

  &.modal-open main{
    filter:blur(5px);
  }
}

*:focus, *:active {
  outline: none !important;
  box-shadow: none !important;
}

select {
  -moz-appearance:none;
  text-indent: 0.01px;
  text-overflow: '';
}


.btn-primary, .btn-primary.disabled, .btn-primary[disabled], 
.text-primary, .bg-primary {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}